beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
decorator==4.4.2
idna==2.10
jellyfish==0.8.2
networkx==2.5.1
numpy==1.20.3
regex==2021.4.4
requests==2.25.1
segtok==1.5.10
soupsieve==2.2.1
tabulate==0.8.9
urllib3==1.26.5
wikipedia==1.4.0
yake==0.4.8
